#pcw_color_container
{
    width: 100%;
    display: inline-flex;
    gap: 4px;
}

.pcw_color
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid #ccc;
    cursor: pointer;
}

#pcw_layers_menu
{
    width: 100%;
    margin: 20px 0 -1px 10px;
    list-style: none;
    display: inline-flex;
}

.pcw_layer_menu_item
{
    padding: 5px 15px;
    cursor: pointer;
    color: dimgray;
    font-weight: 500;
}

.pcw_layer_menu_item.active
{
    background-color: #eee;
    border-radius: 10px 10px 0 0;
    color: #383838;
}

#pcw_layers_container
{
    background-color: #eee;
    padding: 15px;
    border-radius: 12px;
    width: 100%;
}

.pcw_layer
{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.pcw_option
{
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    transition: 0.3s ease-out;
}

.pcw_option:hover
{
    border-color: #aaa;
}

.pcw_option p
{
    font-size: 0.9em;
    margin: 0;
    color: dimgray;
}

.pcw_option_colors
{
    display: flex;
    gap: 3px;
}

.pcw_option_color
{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0px 0px 2px #383838;
    position: relative;
}

.pcw_option_color.active
{
    border: 2px solid #00FF00;
}

.pcw_option_color.active::before
{
    font-family: WooCommerce;
    content: '\e017';
    color: #fff;
    position: absolute;
    line-height: 25px;
    top: 0;

}

#canvas_container_front
,#canvas_container_back
{
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.pcw_canvas
{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
}

#pcw_upload_logo
{
    margin-top: 20px;
    background-color: #eee;
    padding: 30px;
    border-radius: 12px;
    border: 2px dashed #ccc;
    width: 100%;
}

#pcw_logo_container_front
,#pcw_logo_container_back
{
    position: absolute;
    z-index: 1;
    border: 2px dashed transparent;
    margin: 0;
    padding: 0;
}

#pcw_logo_container_front:hover
,#pcw_logo_container_back:hover
{
    border: 2px dashed #00FF00;
}

#pcw_logo_canvas_front
,#pcw_logo_canvas_back
{
    display: block;
    margin: 10px;
}

.control-icons {
    top: 0;
    left: 0;
    pointer-events: none;
    display: none;
}

.control-icons .pcw_icon {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    pointer-events: all;
    box-shadow: 0 0 5px #aaa;
}

.move-icon
{
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: move;
}

.move-icon::before
{
    font-family: WooCommerce;
    font-size: 12px;
    content: '\e022';
    position: absolute;
    left: 5px;
    top: 3px;
}

.resize-icon
{
    bottom: -10px;
    right: -10px;
    transform: rotate(90deg);
}

.resize-icon::before
{
    font-family: WooCommerce;
    font-size: 12px;
    content: '\e035';
    position: absolute;
    left: 5px;
    top: 3px;
}

.delete-icon
{
    top: -10px;
    right: -10px;
    cursor: pointer;
}

.delete-icon::before
{
    font-family: WooCommerce;
    font-size: 25px;
    line-height: 25px;
    content: '\e013';
    position: absolute;
    left: 0px;
    top: 0px;
}

.delete-icon:hover
{
    color: red;
}