#pcw-metaboxes
{
    border-top: 1px solid #eee;
}

#pcw_metaboxes_wrapper .expand-close
{
    float: right;
    line-height: 32px;
}

#pcw_metaboxes_wrapper .wc-metabox-content
{
    padding: 15px;
}

.pcw-metabox-content-toolbar
{
    margin-bottom: 20px;
}

#pcw-notes
{
    margin-left: 40px;
}

#pcw-metabox-background .pcw_button_upload_image {
    float: none;
    margin: auto;
}

.pcw_uploaded_image
{
    background-color: #777;
    border-radius: 4px;
    overflow: hidden;
}

#pcw-metabox-background .woocommerce_variable_attributes
{
    border-top: 0;
}

#pcw-metabox-background .pcw_button_upload_image
{
    width: 300px;
    height: 300px;
    padding: 0;
    overflow: hidden;
    line-height: 110px;
    text-align: center;
    color: #2271b1;
    border: 1px solid #2271b1;
    border-radius: 7px;
    background-color: #f6f7f7;
}

#pcw-metabox-background .pcw_button_upload_image.upload_image_button::before
{
    line-height: 300px;
    font-size: 100px;
}

#pcw-metabox-content-colors
{
    display: flex;
    gap: 10px;
}

#pcw_disclaimer
{
    width: 100%;
}

.pcw_color
{
    width: 80px;
    height: 50px;
    padding: 30px 10px 20px 10px;
    border: 1px solid #2271b1;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.pcw_color input
{
    width: 100%;
}

.pcw_metabox_options
{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.pcw-innerbox
{
    padding: 15px;
    color: #2271b1;
    border: 1px solid #2271b1;
    border-radius: 7px;
    background-color: #f6f7f7;
    position: relative;
    z-index: 1;
}

#pcw-metabox-background .pcw_button_upload_image:hover
,.pcw-innerbox:hover
{
    background: #f0f0f1;
    border-color: #0a4b78;
    color: #0a4b78;
}

.pcw_printing_method
{
    padding: 15px;
    color: #2271b1;
    border: 1px solid #2271b1;
    border-radius: 7px;
    background-color: #f6f7f7;
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.pcw-delete
{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.pcw-delete:hover
{
    opacity: 100%;
}

.pcw-button-delete
{
    width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.pcw-button-delete::before
{
    font-family: Dashicons;
    content: '\f335';
    font-size: 24px;
    top: -10px;
    right: -10px;
    position: absolute;
    color: #FFF;
    background-color: #2271b1;
    border-radius: 100%;
}

.pcw-option-images
{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: fit-content;
}

.pcw-option-image
{
    border-top: 0;
    flex: 1;
    text-align: center;
    width: 128px;
}

.pcw_option .pcw-option-image a.pcw_button_upload_image
{
    max-width: 100%;
    height: auto;
    margin-right: none;
}

.pcw-option .woocommerce_variable_attributes
{
    background-color: unset;
}

.pcw_button_add_option_color
{
    text-align: center;
}

.pcw_button_add_option_color::before
{
    font-family: Dashicons;
    content: '\f502';
    margin-right: 5px;
}

.pcw_option_color 
{
    border-radius: 5px;
    border: 1px solid #2271b1;
    overflow: hidden;
}

.pcw-option-inputs
,.pcw-option-colors
{
    max-width: 266px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.pcw-option-colors input
{
    float: right;
}

.pcw_remove_option_color
{
    width: 60px;
    height: 60px;
    opacity: 0;
}

.pcw_remove_option_color:hover
{
    opacity: 100%;
    cursor: pointer;
}

.pcw_button_remove_option_color 
{
    width: 60px;
    height: 60px;
    display: block;
}

.pcw_button_remove_option_color::before
{
    font-size: 60px;
    line-height: 60px;
    font-family: Dashicons;
    content: '\f335';
}