#pcw_metaboxes_wrapper .toolbar-top
{
    border-bottom: 1px solid #eee;
}

#pcw_metaboxes_wrapper .expand-close
{
    float: right;
    line-height: 32px;
}

#pcw_metaboxes_wrapper .wc-metabox-content
{
    padding: 15px;
}

.pcw_color_display
{
    width: 50px;
    height: 50px;
}

.pcw_layer_options
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.pcw-option
{
    width: 200px;
    border: 1px solid #777;
    padding: 15px;
    border-radius: 10px;
}

.pcw-option-images
{
    display: flex;
    gap: 10px;
}

.pcw-option-image
{
    position: relative;
    flex: 1;
}

.pcw-option-image:before
{
    content: "\f128";
    font-family: Dashicons;
    color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 140px;
    font-size: 60px;
    -webkit-font-smoothing: antialiased;
}

#pcw_metabox_layers .pcw_button_upload_image
{
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    background: none;
}

.pcw-option-inputs
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


.pcw_button_add_option
{
    display: block;
}